<?xml version="1.0"?>
<robot xmlns:xacro="http://wiki.ros.org/xacro" name="robotiq_2f_85">
    <!-- parameters -->
    <xacro:arg name="prefix" default="robotiq_2f_" />

    <!-- Import macro -->
    <xacro:include filename="$(find robotiq_2f_85_description)/urdf/robotiq_2f_85_macro.xacro" />

    <xacro:robotiq_2f_85 prefix="$(arg prefix)" />

    <link name="world" />
    <joint name="$(arg prefix)base_joint" type="fixed">
        <parent link="world" />
        <child link="$(arg prefix)base_link" />
        <origin xyz="0 0 0" rpy="0 0 0" />
    </joint>
</robot>
